<% layout('layout/layout') %>
<% block('title', 'Chat room') %>
<% stylesheet('/stylesheets/chat.css') %>
<% stylesheet('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css') %>
<% script('/vendor/bower_components/socket.io-client/socket.io.js') %>
<% script('/vendor/bower_components/moment/moment.js') %>
<% script('/vendor/bower_components/emojify/emojify.js') %>
<% stylesheet('/vendor/bower_components/emojify/emojify.css') %>
<% script('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js') %>
<% script('/javascripts/chat.js') %>

<div class="chat-container">
    <div class="users"></div>
    <div class="messages"></div>
    <div class="system-messages"></div>
    <div class="tools">
        <div id="message" placeholder="Enter you message here (Ctrl+Enter for submit)" contenteditable="true"></div>
        <div class="additional">
            <i class="fa fa-smile-o smiles"></i>
            <i class="fa fa-paperclip"></i>
        </div>
        <button id="send-message" class="btn btn-primary btn-lg">Send</button>
    </div>
</div>


<div class="modal fade" id="auth-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <h4 class="modal-title">Enter your login</h4>
                        <label class="sr-only" for="login">Login</label>
                        <input type="text" class="form-control" id="login" placeholder="Login" autofocus>
                        <br>
                        <button type="button" class="btn" id="auth-submit">Save changes</button>
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>