<% layout('layout/layout') %>
<% block('title', 'Chat room') %>
<% stylesheet('/stylesheets/chat.css') %>
<% stylesheet('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css') %>
<% script('/vendor/bower_components/socket.io-client/socket.io.js') %>
<% script('/javascripts/chat.js') %>

Chat page
<div class="chat-container">
    <div class="messages">
        <div class="message-wrapper">
            <div class="message">A falsis, advena rusticus idoleum.</div>
        </div>
        <div class="message-wrapper own-message">
            <div class="message">When the seashell sings for madagascar, all skiffs mark golden, salty krakens.</div>
        </div>
    </div>
    <div class="system-messages">
        <div class="typing"><i class="fa fa-pencil"></i>Someone is typing... </div>
    </div>
    <div class="tools">
        <textarea id="message" placeholder="Enter you message here" autofocus autocomplete="off"></textarea>
        <button id="send-message" class="btn btn-primary btn-lg">Send</button>
    </div>
</div>
