<!DOCTYPE html>
<html>
  <head>
    <title><%= blocks.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
      <%- partial('partial/nav.ejs') %>

    <%- body %>
  </body>
</html>
